html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  background: #fff;
  color: #222;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  width: 100%;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}

.titleBar {
  float: right;
  width: calc(75% - 40px);
  background-color: lavender;
}

.titleBar > h1 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 14px;
}

#GraphApp,
#app {
  height: 100%;
  width: 100%;
}

.graphCanvas {
  width: calc(75% - 40px);
  height: 100%;
  float: right;
}

@media (max-aspect-ratio: 1/1) {
  .titleBar {
    position: absolute;
    z-index: -1;
    width: 100%;
  }

  .graphCanvas {
    width: 100%;
    height: 66%;
  }
}

@media (max-width: 500px) {
  .titleBar {
    position: absolute;
    z-index: -1;
    width: 100%;
  }

  .titleBar > h1 {
    font-size: 20px;
  }

  .graphCanvas {
    width: 100%;
    height: 66%;
  }
}
