.buttons {
  width: 94px;
  position: absolute;
  bottom: 35px;
  right: 35px;
}

.buttons > div {
  height: 74px;
  width: 74px;
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
  color: ivory;
  background-color: rgba(255, 0, 0, 0.8);
  border-radius: 38px;
  display: inline-block;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(229, 28, 35);
  margin: 10px;
  cursor: pointer;
}

.buttons > div:hover {
  background-color: black;
  border-color: gray;
}

.buttons > div > span {
  vertical-align: middle;
}

.helpButton {
  cursor: help;
}

@media (max-aspect-ratio: 1/1) {
  .buttons {
    z-index: 100;
    bottom: 50%;
  }
}

@media (max-width: 500px) {
  .buttons {
    width: 50px;
    bottom: 15px;
    right: 15px;
    z-index: 100;
    bottom: 50%;
  }

  .buttons > div {
    height: 45px;
    width: 45px;
    font-size: 30px;
    margin: 5px;
  }
}
