html, body {
  height: 100%;
  overflow: hidden;
}

body {
  background: #fff;
  color: #222;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  width: 100%;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}

.titleBar {
  float: right;
  width: calc(75% - 40px);
  background-color: lavender;
}

.titleBar>h1 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 14px;
}

#GraphApp, #app {
  height: 100%;
  width: 100%;
}

.graphCanvas {
  width: calc(75% - 40px);
  height: 100%;
  float: right;
}

.AccountOverview {
  background-color: rgba(230, 230, 250, 0.8);
  position: absolute;
}

.AccountFullView {
  background-color: lavender;
  padding: 20px;
  width: 25%;
  height: 100%;
  position: absolute;
  overflow: scroll;
}

.buttons {
  width: 94px;
  position: absolute;
  bottom: 35px;
  right: 35px;
}

.buttons>div {
  height: 74px;
  width: 74px;
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
  color: ivory;
  background-color: rgba(255, 0, 0, 0.8);
  border-radius: 38px;
  display: inline-block;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(229, 28, 35);
  margin: 10px;
  cursor: pointer;
}

.buttons>div:hover {
  background-color: black;
  border-color: gray;
}

.buttons>div>span {
  vertical-align: middle;
}

.helpButton {
  cursor: help;
}

.AccountFullView>h2.accountLogin {
  text-align: center;
}

.AccountFullView>img.avatar {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.githubFigures {
  text-align: center;
  font-weight: bold;
}

#panel {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(211, 211, 211, 0.548);
  z-index: 100;
  text-align: center;
  vertical-align: middle;
}

#panel>div {
  padding: 5%;
  margin: 10%;
  background-color: azure;
}

#searchPanel {
  width: min-content;
  display: inline-block;
}

#searchPanel>p.error {
  font-size: small;
  color: red;
}

#helpPanel {
  text-align: justify;
}

#panel>.exit {
  height: 74px;
  width: 74px;
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
  display: inline-block;
  margin: 10px;
  vertical-align: middle;
  cursor: pointer;
  top: 0;
  right: 0;
  position: absolute;
}


@media (max-aspect-ratio: 1/1) {

  .titleBar {
    position: absolute;
    z-index: -1;
    width: 100%;
  }

  .graphCanvas {
    width: 100%;
    height: 66%;
  }

  .AccountFullView { 
    bottom: 0;
    width: 100%;
    height: 34%;
    padding: 0;
    text-align: left;
  }

  .AccountFullView> img.avatar {
    float:left;
    left: 0;
    top: 0;
  }

  .AccountFullView> h2 {
    display: none;
  }

  .AccountFullView>p {
    width: calc(100%-20px);
    margin: 10px 25px;
  }

  .AccountFullView>p>b {
    margin: 0 5px;
  }

  .buttons {
    z-index: 100;
    bottom: 50%;
  }

}

@media (max-width: 500px) {

  .titleBar {
    position: absolute;
    z-index: -1;
    width: 100%;
  }

  .titleBar>h1 {
    font-size: 20px;
  }

  .graphCanvas {
    width: 100%;
    height: 66%;

  }

  .AccountFullView { 
    bottom: 0;
    width: 100%;
    height: 34%;
    padding: 0;
    text-align: left;
  }

  .AccountFullView> img.avatar {
    float:left;
    left: 0;
    top: 0;
    width: 100px;
    height: 100px;
  }

  .AccountFullView> h2 {
    display: none;
  }

  .AccountFullView>p {
    width: calc(100%-20px);
    margin: 4px 10px;
  }

  .AccountFullView>p>b {
    margin: 0 5px;
  }

  .buttons {
    width: 50px;
    bottom: 15px;
    right: 15px;
    z-index: 100;
    bottom: 50%;
  }
  
  .buttons>div {
    height: 45px;
    width: 45px;
    font-size: 30px;
    margin: 5px;
  }

}