html, body {
  height: 100%;
  overflow: hidden;
}

body {
  background: #fff;
  color: #222;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}

h1 {
  font-size: 28px;
  margin-bottom: 14px;
}

.AccountFullView {
  background-color: rgba(255, 206, 116, 0.8);
  padding: 10px;
  width: 25%;
  position: absolute;
  bottom:5;
  left:5;
  overflow: scroll;
}

#GraphApp, #app {
  height: 100%;
  width: 100%;
}

.graphCanvas {
  width: 75%;
  height: 100%;
  float: right;
}

.AccountOverview {
  background-color: rgba(255, 238, 0, 0.8);
  position: absolute;
}