html, body {
  height: 100%;
  overflow: hidden;
}

body {
  background: #fff;
  color: #222;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  width: 100%;
  margin: 0px;
  -webkit-overflow-scrolling: touch;
}

.titleBar {
  float: right;
  width: calc(75% - 40px);
  background-color: lavender;
}

.titleBar>h1 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 14px;
}

.titleBar>.githubLink{
  position: fixed;
  top:0px;
  right:0px;
  border: 0;
}

.titleBar>.githubLink>img {
  height: 80px;
}

#GraphApp, #app {
  height: 100%;
  width: 100%;
}

.graphCanvas {
  width: calc(75% - 40px);
  height: 100%;
  float: right;
}

.AccountOverview {
  background-color: rgba(230, 230, 250, 0.8);
  position: absolute;
}

.AccountFullView {
  background-color: lavender;
  padding: 20px;
  width: 25%;
  height: 100%;
  position: absolute;
  overflow: scroll;
}

.AccountFullView>h2.accountLogin {
  text-align: center;
}

.AccountFullView>img.avatar {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.githubFigures {
  text-align: center;
  font-weight: bold;
}
